{% extends 'base.html.twig' %}

{% block title %}Actors{% endblock %}
{% block active_actors %}active{% endblock %}

{% block body %}
    <main role="main" class="container">
        <h2 class="mt-5 mb-5 text-center">
            Actors and their films!
        </h2>
        <table class="table table-hover" id="actors" data-href="{{ path('ajax_actors') }}">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="text-center">Actor Name</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">Phone</th>
                <th scope="col" class="text-center">Films</th>
            </tr>
            </thead>
        </table>
    </main>
{% endblock %}